/* Base styles */


* {
    box-sizing: border-box;
    
}


body{
    
    margin: auto;
    font-family: 'Roboto' ;
    font-weight: lighter;
    
}

header {
    background-color:rgb(129, 129, 184);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5em;
}

main {
    padding-bottom: 10%;   
}

h1 {
    margin-left: 10px;
    color: white;
}

h1,
h2,
h3 {
    font-weight: 200;
    font-size: 1em;
}

/* grid styles */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}

header {
    grid-area: header;
    
}

.main-nav {
    grid-area: navigation;
}


@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header"
            "navigation main";
    }
    

    main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

    
}

@media (min-width: 768px) {
    .main {
        grid-template-columns: 50%;
    }
    .daily, .mobile, .traffic, .social-container {
        grid-column:1 / span 2;
    }
     .members, .message {
        grid-column: 1 / span 1;
    }
     .activity, .settings {
        grid-column: 2 /span 1;
    }
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }

    .main-header {
        grid-column:1 / span 2;
    }
    .alert {
        grid-column:1 / span 2;
    }
}

@media (min-width: 1024px) {
    .main {
        grid-template-columns: 50%;
    }
    .traffic, .social-container {
        grid-column:1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2 /span 1;
    }
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }

    .main-header {
        grid-column:1 / span 2;
    }
    .alert {
        grid-column:1 / span 2;
    }
}

/* container styles */
.widget-container-full,
.widget-container-half {
    width: 100% !important;
}

.widget-container-half {
    display: flex;
    flex-direction: row;
}

.traffic,
.daily,
.mobile {
    width: 90%; 
    margin: auto;
    
} 

.mobile,
.daily,
.members,
.activity,
.message,
.settings {
    border-top: lightgrey .1px solid;;
}

.mobile {
    margin-right: auto;
}

.members-container,
.activity-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px 0;
    border-bottom: thin black solid;
    font-size: 14px;
    height: 120px;
}

.activity-container p,
.members-container p {
  margin: auto 0 auto auto;
}


.activity-container {
    display: flex;
    flex-direction: row;
}


.social-container {
    margin: 2em auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}

.social-section {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 1em;
    width: 80%;
    border: thin black solid;
    background-color: rgb(238, 238, 238);
    border-radius: 2%;
}

.mobile,
.daily,
.members,
.activity,
.message,
.settings {
    width: 100% !important;
    border: lightgrey .1px solid;
    margin: 0 !important;
    padding: 1em;
}

.members-container:last-of-type, .activity-container:last-of-type {
    border: none;
}
.settings,
.message,
.activity,
.members {
    width: 90%;
    margin: auto;
}

.settings,
.message {
    display: flex;
    border-bottom: none !important;
    flex-direction: column;
    justify-content: space-between;
}

/* SVG */
.bell {


    display: flex;
    justify-content: center;
    align-items: center;
}

#daily-chart,
#traffic-chart {
    width: 100% !important;
    margin: auto;
    
}

#mobile-chart {
    padding-bottom: 20px;
    
}


.icon-container {
    height: 70px;
}


.icon {
    
    fill: white;
    transform: translate(1.5px, 2px) scale(.5) ;
    transform-origin: 45% 45%;
}

.twitter-bg {
    
    fill: rgb(129, 129, 184);;
} 

/* header */

.name {
    float: right;
    margin-right: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 100;
    font-size: 12px;
  
}

.profile-image {
    height: 3em;
    width: 4em;
    display: flex;
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 50%;
    margin: auto 5px auto 0;
}


.main-header {
    display: flex;
    flex-direction: row;

}

/* Dashboard */
.headline {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* traffic */
.traffic-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.traffic-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.traffic-nav-link {
    margin-left: .5em;
    list-style-type: none;
    font-size: 1em;
}

/* navigation */
.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgb(83, 83, 126);
}

.nav-icon {
    padding: 0em 1em;
    height: 4em;
    width: 4em;
}

/* social */

.social-title {
    flex: 1 100%;
    text-align: center;
    margin: auto;
    text-align: left;
    margin: auto auto 16px 16px;
}

.social-text {
    text-align: center;
    margin: auto auto auto 1em;
    
}

.social-text p:first-of-type {
    color: rgb(129, 129, 184);
    margin: auto;
    font-weight: bold;
    font-size: 1em;
    text-align: start;
}

.social-text p:last-of-type {
    font-size: 2em;
    margin: auto;
}

/* members */

.members-text,
.activity-text {
    margin: auto auto auto 5px;
}

.mobile h3,
.members h3,
.activity h3,
.message h3 {
    width: 90%;
    margin: 20px auto 10px 0;
    font-size: 1em;
}

/* input areas */
.form-field,
.form-area,
.button-primary
 {
    position: relative;
    color: black;
    padding-left:  20px;
    border: lightgray .2px solid;
    border-radius: 5px;
    margin-top: 6px ;
    width: 100%;
    background-color: rgb(238, 238, 238);
}

.form-field
{
    height: 40px;
}

.form-area {
    height: 120px;
    padding-top: 10px;
}

.main-header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-bottom: solid gray .2px;
    border-left: solid gray .2px;
    padding-left: 10%;
    background-color: rgb(238, 238, 238);
    width: 90%;
    
}

.main-header-search input {
    margin-left: auto;
    margin-right: 10px;
    border-radius: 5px;
    border: lightgray .2px solid;
    height: 60%;
    padding-left: 10px;
}


/* Buttons */
.button-primary {
    color: white;
    background-color: rgb(129, 129, 184);
    padding: 10px 0;
    border: none;
    margin-top: auto;
}

.switch-ios {
    width:  80%;
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    align-items: center;
}

.switch-ios span {
    margin-left: auto;
}

.settings-button {
    display: flex;
    justify-content: space-between;
}

#save,
#cancel {
    width: 45%;
    padding: 10px 0;
    margin: 0;
    margin-top: 10px;
}


#cancel {
    
    color: white;
    background-color: darkgray;
    
    
    border-radius: 5px;
    border: none;
}


/* banner */

.banner {
    align-items: center;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.alert-banner {
    display: flex;
    flex-direction: row;
}

 .alert {
    width: 90%;
    padding: 10px;
    background-color: rgb(129, 129, 184);
    color: white;
    border-radius: 5px;
    margin: 15px auto;
    font-size: 12px;
  }

.alert-banner-close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    margin: auto 0px auto auto ;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
 
.closebtn:hover {
    color: black;
  }  

a {
      text-decoration: none;
      color: mediumslateblue;
  }

.activity-container a {
      font-size: 40px;
      margin: auto 5px auto auto;
      font-family: 'Courier New', Courier, monospace;
  }
.bell-circle {
    position: relative;
    height: 3.5em;
    width: 3.5em;
    padding:  1em ;
    border-right: solid black .2px; 
}
.green-circle {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: 20%;
    right: 20%;
}

@keyframes shake {
    25% {transform: rotate(50deg)}
    50% {transform: rotate(-50deg)}
    75% {transform: rotate(50deg)}
}

.bell:hover {
    
    animation: shake 1s ease;
}


 /* media query styles */
 @media (min-width: 768px) {
    body .main-nav {
        flex-direction: column;
        justify-content: flex-start;
    }

}
 @media (min-width: 1024px) {

    body .main-nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    body .social-section {
        width: 30%;
        margin: auto;
    }
    body .nav-icon {
        padding: 1em 0px;
        height: 4em;
        width: 2em;
    }
    body .switch-ios {
        width:  60%;
    }
 }

 .widget-container {
      position: relative;
      
 }


 .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    width: 100%;
    }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }


