/* Base styles */


* {
    box-sizing: border-box;
    
}


body{
    
    margin: auto;
    font-family: 'Roboto' ;
    font-weight: lighter;
    
}

header {
    background-color:rgb(129, 129, 184);
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    padding-bottom: 10%;   
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}



header {
    grid-area: header;
    
}

.main-nav {
    grid-area: navigation;
}


.widget-container-full,
.widget-container-half {
    width: 100% !important;
    
    
}

.widget-container-half {
    display: flex;
    flex-direction: row;
}
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header"
            "navigation main";
    }
    body .main-nav {
        flex-direction: column;
        justify-content: flex-start;
    }
    body .social-section {
        width: 30%;
        margin: auto;
    }

    main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

    .mobile,
    .daily,
    .members,
    .activity,
    .message,
    .settings {
        width: 100% !important;
        border: lightgrey .1px solid;
        margin: 0 !important;
        padding: 1em;
    }

    .members-container:last-of-type, .activity-container:last-of-type {
        border: none;
    }

    body .switch-ios {
        width:  60%;
    }

}
@media (min-width: 768px) {
    .main {
        grid-template-columns: 50%;
    }
    .traffic, .social-container {
        grid-column:1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2 /span 1;
    }
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }

    .main-header {
        grid-column:1 / span 2;
    }
    .alert {
        grid-column:1 / span 2;
    }
}


h1 {
    font-size:  1em;
    margin-left: 10px;
    color: white;
    
}

h1,
h2,
h3 {
    font-weight: 200;
    font-size: 1em;
}

.bell {
    height: 4em;
    width: 40px;
    margin: 10px 0;
    padding-right: 10px;
    border-right: solid black .2px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.name {
    float: right;
    margin-right: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 100;
    font-size: 12px;
  
}

.profile-image {
    height: 3em;
    width: 4em;
    display: flex;
    padding-left: 10px;
    margin-left: 10px;
    border-radius: 50%;
    margin: auto 5px auto 0;
}

.banner {
    align-items: center;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
.main-header {
    display: flex;
    flex-direction: row;

}
.headline {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-bottom: solid gray .2px;
    border-left: solid gray .2px;
    padding-left: 10%;
    background-color: rgb(238, 238, 238);
    width: 90%;
    
}

.main-header-search input {
    margin-left: auto;
    margin-right: 10px;
    border-radius: 5px;
    border: lightgray .2px solid;
    height: 60%;
    padding-left: 10px;
}

.traffic,
.daily,
.mobile {
    width: 90%; 
    margin: auto;
    
} 

.mobile {
    
    margin-right: auto;
}

#daily-chart,
#traffic-chart {
    width: 100% !important;
    margin: auto;
    
}

#mobile-chart {
    padding-bottom: 20px;
    width: 60% !important;
}

.traffic-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.traffic-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}



.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgb(83, 83, 126);
    
}


.nav-icon {
    padding: 5px;
    
}





.traffic-nav-link {
    margin-left: .5em;
    list-style-type: none;
    font-size: .75em;
}

.icon-container {
    height: 70px;
}


.icon {
    
    fill: white;
    transform: translate(1.5px, 2px) scale(.5) ;
    transform-origin: 45% 45%;
}

.twitter-bg {
    transform-origin:;
    fill: rgb(129, 129, 184);;
} 

.social-container {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.social-title {
    flex: 1 100%;
    text-align: center;
    margin: auto;
}


.social-section {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 1em;
    width: 60%;
    border: thin black solid;
    background-color: rgb(238, 238, 238);
}

.social-text {
    text-align: center;
    margin: auto auto auto 1em;
    
}

.social-text p:first-of-type {
    color: rgb(129, 129, 184);
    margin: auto;
    font-weight: bold;
    font-size: 1em;
    text-align: start;
}

.social-text p:last-of-type {
    font-size: 2em;
    margin: auto;
}

.activity-container {
    display: flex;
    flex-direction: row;
}



.members-container,
.activity-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px 0;
    border-bottom: thin black solid;
    font-size: 14px;
    height: 120px;
}

.activity-container p,
.members-container p {
  margin: auto 0 auto auto;
}


.members-text,
.activity-text {

    margin: auto auto auto 5px;
}



.mobile h3,
.members h3,
.activity h3,
.message h3{
    width: 90%;
    margin: 20px auto 10px 0;
    font-size: 15px;
}

.form-field,
.form-area,
.button-primary {
    color: black;
    padding-left:  20px;
    border: lightgray .2px solid;
    border-radius: 5px;
    margin: 6px auto;
    width: 100%;
    background-color: rgb(238, 238, 238);
}

.form-field {
    height: 40px;
    
}

.form-area {
    height: 120px;
    padding-top: 10px;
}

.widget-container {
    margin: auto;
    
}

.button-primary {
    color: white;
    background-color: rgb(129, 129, 184);
    padding: 10px 0;
    border: none;
}

.switch-ios {
    width:  80%;
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    align-items: center;
}

.switch-ios span {
    margin-left: auto;
}

.settings-button {
    display: flex;
    justify-content: space-between;
}

#save,
#cancel {
    width: 45%;
    padding: 10px 0;
    margin: 0;
    margin-top: 10px;
}


#cancel {
    
    color: white;
    background-color: darkgray;
    
    
    border-radius: 5px;
    border: none;
}
.settings,
.message,
.activity,
.members {
    width: 90%;
    margin: auto;
}

.alert-banner {
    display: flex;
    flex-direction: row;
}

 .alert {
    width: 90%;
    padding: 10px;
    background-color: rgb(129, 129, 184);
    color: white;
    border-radius: 5px;
    margin: 15px auto;
    font-size: 12px;
  }

.alert-banner-close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    margin: auto 0px auto auto ;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
 
.closebtn:hover {
    color: black;
  }  

a {
      text-decoration: none;
      color: mediumslateblue;
  }

.activity-container a {
      font-size: 40px;
      margin: auto 5px auto auto;
      font-family: 'Courier New', Courier, monospace;
  }

.colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue,
.green,
.purple {
    width: 25px;
    height: 25px;
    border-radius: 5px;
} 

.blue {
    background-color: teal;
}

.green {
    background-color: mediumseagreen ;
}

.purple {
    background-color: rgb(129, 129, 184);
}

.bell:hover {

  }

  .mobile {
      
      margin: auto;
      
  }

  .color-key {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .color-key p {
      margin: 10px;
  }

  .settings,
  .message {
      border-bottom: none;
  }